html {
  background-image: linear-gradient(to bottom right, rgb(49 46 129) 0%, black 100%);
  height: 100vh;
}

body {
  padding-top: 120px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to bottom right,rgb(49 46 129), black);
  background-repeat: no-repeat ;
  background-size: cover;
  height: 100vh;
}

p {
  margin: 0.5em auto;
  text-align: center;
}

#cancel-heading {
  padding: 8px;
  background-color: #312e81;
  width: 60%;
  color: white;
  text-align: center;
  margin: 2rem auto;
  border: none;
  border-radius: 0.3rem;
}

form {
  /* margin-top: 400px; */
  border: 0;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
       /* top | right | bottom | left */
  padding: 1em 3em 2em 3em;
  background-color: white;
  border-radius: 0 1rem 1rem 1rem;
  color: black;
  }

fieldset {
  border: none;
  padding: 2rem 0;
}
  
label {
  display: block;
  margin: 0.5rem 0;
}
  
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 70%;
  min-height: 2em;
}
  
input, textarea {
  background-color: white;
  border: 1px solid #0a0a23;
  color: black;
  border-radius: 3px;
}
  
.btn-prop{
  margin: auto;
  background-color: rgb(49 46 129);
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(49 46 129);
  border-radius: 7px;
  cursor: pointer;
  font-size: 1.125rem; 
  line-height: 1.75rem;
  height: 30px;
  width: 100px;
}

.btn-config {
  border: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}

.btn-prop:hover {
  cursor: pointer;
  /*box-shadow: 0 0.4rem 1.4rem 0 rgb(49 46 129);*/
  transition: transform 150ms;
  transform: scale(1.03);
}

.line {
  height: 1px;
  background-color: grey;
  border: 0;
}

.navbar 
{
    background-color: white;
    border: 2px solid rgb(226 232 240);
    border-radius: 0px 0px 10px 10px;
    border-top: none;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    font-size: 1.125rem; 
    line-height: 1.75rem;
    z-index: 100;
    padding: 15px 0px;
    height: 70px;
}
.nav-items 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0px;
    align-items: center;
}

.logo
{
    margin-bottom: -15px;
}

.item
{
    color: black;
    /* padding: 10px;   */
    margin-left: 40px;
}

.item:hover {
    border-bottom: 0px;
    opacity: 65%;
    cursor: pointer;
}

.login-btn 
{
    width: 55px;
    padding-left: 10px;
    margin-left: 70px;
}

.btn
{
    background-color: rgb(49 46 129);
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(49 46 129);
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.125rem; 
    line-height: 1.75rem;
    height: 30px;
} 
.btn:hover{
    opacity: 90%;
}

.btn-container {
    display: flex;
    justify-content: end;
}

.register-btn 
{
    width: 85px;
    padding-left: 10px;
    margin-left: 30px;
}
