html {
  background-image: linear-gradient(to bottom right, rgb(49 46 129) 0%, black 100%);
  height: 100vh;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

p {
  margin: 0.5em auto;
  text-align: center;
}

#cancel-heading {
  padding: 8px;
  background-color: #312e81;
  width: 60%;
  color: white;
  text-align: center;
  margin: 2rem auto;
  border: none;
  border-radius: 0.3rem;
}

form {
  margin-top: 20px;
  border: 0;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
       /* top | right | bottom | left */
  padding: 1em 3em 2em 3em;
  background-color: white;
  border-radius: 0 1rem 1rem 1rem;
  color: black;
  }

fieldset {
  border: none;
  padding: 2rem 0;
}
  
label {
  display: block;
  margin: 0.5rem 0;
}
  
input,
textarea,
select {
  margin: 0px 0px 15px 0;
  width: 70%;
  min-height: 2em;
  padding: 5px;
}
  
input, textarea {
  background-color: white;
  border: 1px solid #0a0a23;
  color: black;
  border-radius: 3px;
}
  
.btn-prop{
  margin: auto;
  background-color: rgb(49 46 129);
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(49 46 129);
  border-radius: 7px;
  cursor: pointer;
  font-size: 1.125rem; 
  line-height: 1.75rem;
  height: 30px;
  width: 100px;
}

.btn-config {
  border: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}

.btn-prop:hover {
  cursor: pointer;
  /*box-shadow: 0 0.4rem 1.4rem 0 rgb(49 46 129);*/
  transition: transform 150ms;
  transform: scale(1.03);
}

.line {
  height: 1px;
  background-color: grey;
  border: 0;
}

