@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */

    background-image: linear-gradient(to bottom right,rgb(49 46 129), black);
    padding: 10px 0px;
}

a {
    text-decoration: none;
}

input {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}

.navbar 
{
    background-color: white;
    border: 2px solid rgb(226 232 240);
    border-radius: 0px 0px 20px 20px;
    border-top: none;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    font-size: 1.125rem; 
    line-height: 1.75rem;
    z-index: 100;
    padding: 15px 0px;
    height: 70px;
}
.nav-items 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0px;
    align-items: center;
}
.logo
{
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
}
.items
{
    justify-content: space-evenly;
    display: flex;
    width: 600px;

}
.item
{
    color: black;
    
}
.item:hover {
    border-bottom: 0px;
    opacity: 75%;
    cursor: pointer;
}
.btn
{
    background-color: rgb(49 46 129);
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(49 46 129);
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.125rem; 
    line-height: 1.75rem;
    height: 30px;
} 
.btn:hover{
    opacity: 90%;
}
.nav-btn
{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}
.login-btn 
{
    width: 55px;
    display: flex;
    justify-content: center;
    /* margin-left: 70px; */
}
.register-btn 
{
    width: 85px;
    display: flex;
    justify-content: center;
    /* margin-left: 30px; */
}

.main {
    display: flex;
    justify-content: center;
    margin: 200px 0px;
    
}

.container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    width: 500px;
}

.select {
    padding: 2px 5px;
}


.flex-row {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name {
    margin-right: 10px;
}

.age {
    margin-right: 27px;
}

.mobile {
    margin-right: 7px;
}

.rupee {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px;
    margin-right: 2px;
}

.fare {
    padding-top: 10px;
    border-top: 1px solid rgb(203 213 225);
}

.passenger_details {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 2px;
    width: 70%;
}

.flex {
    display: flex;
}
.center {
    justify-content: center;
}

.title {
    margin-bottom: 10px;
}
.primary {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(49 46 129);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(49 46 129);
    color: white;
    padding: 10px 22px;
    height: 100%;
}

.primary:hover {
    opacity: 90%;
}

.heading {
    padding-bottom: 10px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgb(203 213 225);
    font-size: xx-large;
}