
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right,rgb(49 46 129), black);
    background-repeat: no-repeat ;
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
}

img {
    cursor: pointer;
}

.navbar 
{
    background-color: white;
    border: 2px solid rgb(226 232 240);
    border-radius: 0px 0px 20px 20px;
    border-top: none;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    font-size: 1.125rem; 
    line-height: 1.75rem;
    z-index: 100;
    padding: 15px 0px;
    height: 70px;
}
.nav-items 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0px;
    align-items: center;
}

.logo
{
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
}

.items
{
    justify-content: space-evenly;
    display: flex;
    width: 600px;

}
.item
{
    color: black;
    
}

.item:hover {
    border-bottom: 0px;
    opacity: 75%;
    cursor: pointer;
}

.nav-btn
{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.container {
    background-color: white;
    margin-top : 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 50%;
    border-radius: 1rem;
    text-align: center;
}

.heading {
    margin: auto;
    text-align: center;
    padding-top: 1rem;
}

.bottom-line {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}

.drop-down {
    margin-top: 2rem;
    width: 50%;
    text-align: center;
    height: 2.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(237, 242, 255);
}

.flex {
    display: flex;
    justify-content: center;
    /* padding: 20px 20px; */
    flex-direction: row;
}

#btn {
    margin-top: 3rem;
}

.primary, .secondary {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(49 46 129);
    border-radius: 5px;
    cursor: pointer;
    /* margin: 2px 6px; */
}

.primary {
    background-color: rgb(49 46 129);
    color: white;
    padding: 5px 22px;
    font-size: large;
    justify-content: center;
    margin-top: 1.5rem;
}

.primary-home {
    display: inline;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(49 46 129);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(49 46 129);
    color: white;
    padding: 5px 22px;
    font-size: large;
    justify-content: center;
    margin-top: 2rem;
    /* margin-right: 100px; */
}

.primary:hover {
    opacity: 85%;
    transition-delay: 10ms;
}


.leftP {
    margin-top: 1rem;
}

.rightP {
    margin-top : 1rem;
}

.name-info {
    padding-left: 1rem;
    margin-top: 0.5rem;
    display: inline-block;
    width: 200px;
    height: 1.5rem;
    text-align: left;
    border: 1px solid black;
    border-radius: 0.2rem;
}

.to-left {
    text-align: left;
    margin-top: 1rem;
    margin-left: 20px;
}

.qr-code {
    margin-top: 1rem;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 1px solid black;
}

.div-one-line {
    width: 200px;
}

.single-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 3.5rem;
}

.line_1 {
    border: 1px solid black;
    margin-top: 1.5rem;
}

.tick-image {
    width: 100px;
    height: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.container-temp {
    background-color: white;
    margin-top : 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 50%;
    border-radius: 1rem;
    text-align: center;
    
}

.thank-you {
    margin-top: 1rem;
    text-align: center;
}

.to-center {
    text-align: left;
    margin-left: 200px;
}

.container-gpay {
    background-color: white;
    margin-top : 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 80%;
    border-radius: 1rem;
    text-align: center;
}
