body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right,rgb(49 46 129), black);
    background-repeat: no-repeat ;
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
}

.footer-item {
    color: black;
    font-size: large;    
}

.footer-item:hover {
    color: rgb(49 46 129);
    opacity: 90%;
    cursor: pointer;
}

* {
    margin: 0px;
    padding: 0px;
}

footer {
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    column-gap: 10px;
}

.card {
    padding: 200px;
}
.pnr-container {
    margin: auto;
    border-radius: 20px;
    width: 50%;
    border: 2px solid rgb(203 213 225);
    z-index: 999;
    background-color: white;
    padding: 50px;
}

.flex, .input-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    column-gap: 15px;
}

.input-container {
    column-gap: 0px;
    border: 1px solid rgb(203, 213, 225);
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.margin-left-15 {
    margin-left: 15px;
}

.heading {
    font-size: 50px;
}

.relative {
    position: relative;
}

.item
{
    color: black;
    /* padding: 10px;   */
    margin-left: 40px;
}

.item:hover {
    border-bottom: 0px;
    opacity: 65%;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar 
{
    background-color: white;
    border: 2px solid rgb(226 232 240);
    border-radius: 0px 0px 10px 10px;
    border-top: none;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    font-size: 1.125rem; 
    line-height: 1.75rem;
    z-index: 100;
    padding: 15px 0px;
    height: 70px;
}
.nav-items 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0px;
    align-items: center;
}

.logo
{
    margin-bottom: -15px;
}

.btn
{
    background-color: rgb(49 46 129);
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(49 46 129);
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.125rem; 
    line-height: 1.75rem;
    height: 30px;
} 
.btn:hover{
    opacity: 90%;
}

.btn-container {
    display: flex;
    justify-content: end;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}

.primary {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(49 46 129);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    background-color: rgb(49 46 129);
    color: white;
    padding: 10px 22px;
    height: 100%;
}

.primary:hover {
    opacity: 90%;
}

.copyright {
    display: flex;
    justify-content: center;

}

#pnr-no {
    /* margin: 15px 0px; */
    width: 100%;
    border: none;
    padding: 10px;
    font-size: large;
    box-sizing: border-box;
}

.icon {
    height: 50px;
}

#pnr-no:focus {
    outline: none;
}

.login-btn 
{
    width: 55px;
    padding-left: 10px;
    margin-left: 70px;
}
.register-btn 
{
    width: 85px;
    padding-left: 10px;
    margin-left: 30px;
}

.shake {
    animation: shake;
    animation-duration: 300ms;
    animation-timing-function: linear;
}


#error-message {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@keyframes shake {
    /* height: 100vw; */
    0% {transform: translate(0%, 0%);}
    20% {transform: translate(-5%, 0%);}
    40% {transform: translate(5%, 0%);}
    60% {transform: translate(-5%, 0%);}
    80% {transform: translate(5%, 0%);}
    100% {transform: translate(0%, 0%);}
}
