body {
    background-image: linear-gradient(to bottom right, rgb(49 46 129) 0%, black 100%);
    font-family: sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
}

.container {
    font-size: 2em;
    display: flex;
    background: white;
    width:100%;
    align-content: center;
    justify-content: center;
    max-height: 5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.middle {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    width: 70%;
    text-align: center;
}

.img_config_1 {
    margin-left: 0px;
    max-height: 100%;
    max-width: 5rem;
}

.img_config_2 {
    margin-right: 0px;
    max-height: 100%;
    max-width: 5rem;
}

#markquee_1 {
    color: white;
    margin-top: 0.5rem;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    width: 60%;
}

/*----------------------*/
/* styling for thank you page */
#thank-you {
    background-color: white;
    margin: auto;
    color: black;
    text-align: center;
    max-width: 70%;
    margin-top: 10%;
    padding: 2rem;
    border-radius: 1rem;
}

#home-btn {
    background-color: rgb(49 46 129);
    
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(49 46 129);
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.125rem; 
    line-height: 1.75rem;
    min-width: 6em;
    min-height: 2rem;
}

#home-btn:hover {
    cursor: pointer;
    /*box-shadow: 0 0.4rem 1.4rem 0 rgb(49 46 129);*/
    transition: transform 100ms;
    transform: scale(1.03);
}

#verified-logo {
    width: 100px;
    height: 100px;
    margin: auto;
}
